.details {
  background-image: url("../../img/home.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  overflow: auto;
  margin: 0%;
}

/* Loading */
.load {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20rem;
}

/* Card */
.container {
  margin-bottom: -6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 20px;
}

.card {
  display: flex;
  width: 1000px;
  height: auto;
  background-color: #1a1a1a;
  border-radius: 10px;
  border: solid rgb(231, 224, 224) 2px;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.2);
}

/* 1ra parte */
.header {
  border-right: 1px solid #ddd;
  box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.06);
  margin: 20px 30px;
  transition: 0.2s;
}

/* 2da parte */
.description {
  margin-top: 2rem;
  background-color: #1a1a1a;
}

.header,
.description {
  padding: 20px;
  text-align: center;
}

.genre {
  text-shadow: 1.5px 1.2px 1px #54e7e78f;
  display: inline-block;
  margin: 0rem 0.4rem 0.8rem;
  font-size: smaller;
  padding: 0.2rem 0.4rem;
  margin-left: 4px;
  border-radius: 4px;
  background: rgba(0, 135, 156, 0.363);
  box-shadow: 0 0 4px #54e6e7;
  color: #fff;
  width: fit-content;
}

.platform {
  text-shadow: 1.5px 1.2px 1px #54e7e78f;
  display: inline-block;
  margin: 0.05rem 0.4rem 0.5rem;
  font-size: smaller;
  padding: 0.2rem 0.4rem;
  margin-left: 4px;
  border-radius: 4px;
  background: rgba(0, 135, 156, 0.363);
  box-shadow: 0 0 4px #54e6e7;
  color: #fff;
  width: fit-content;
}

.label,
.label2 {
  font-weight: 500;
  padding: 2px 10px;
  margin-right: 10px;
  border-radius: 4px;
  background-color: rgba(0, 135, 156, 0.363);
  text-shadow: 1.5px 1.2px 1px #54e7e78f;
  color: #fff;
}

.label2 {
  display: flex;
  margin-bottom: -10px;
}

/* Button Go Home */
.button {
  font-size: 15px;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  background: rgba(0, 61, 71, 0.363);
  color: #fff;
  border: solid rgb(231, 224, 224) 2px;
  display: inline-block;
  text-shadow: 1.5px 1.2px 1px #54e6e7;
  box-shadow: 0 0 6px #54e6e7;
  font-family: "Silkscreen";
}
.button:hover {
  cursor: pointer;
  color: #fff;
  background-color: #059494;
  box-shadow: 0 0 4px #fff;
}

/* Letras */
.font {
  color: #fff;
  text-shadow: 2px 1px 1px #54e7e78f;
}
